body {
    background-color: lightslategray;
}

p {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #0F4069;
    color: whitesmoke;
    border: #e6eaef 2px solid;
    border-radius: 15px 50px 15px 50px;
}

/* Requirements

⦁	<body>:
⦁	Background color: lightslategray
⦁	<p>:
⦁	Width: 300px
⦁	Paddings: 20px
⦁	Auto margins 
⦁	Background color: #0F4069
⦁	Text color: whitesmoke
⦁	Solid border with size 2px and color #e6eaef
⦁	Top left and bottom right border radius: 15px
⦁	Top right and bottom left border radius: 50px */

